{% extends 'base/base.html' %}
{% block content %}<div class="container-fluid" style="background-image: linear-gradient(to bottom right, rgb(179, 255, 204), yellow); padding: 40px; border-radius: 20px; ">
  
    <nav class="navbar" style="padding-bottom: 40px;">
      <div class="container-fluid">
      {% if request.user.is_authenticated %}
      <h3 style="color: rgb(0, 0, 0);"> Welcome {{request.user}}</h3>
      <a href="{% url 'logout' %}" class="btn btn-danger btn-lg"  role="button">Logout</a>
      <a href="{% url 'taskcreate' %}" class="btn btn-success btn-lg"  role="button">Add New Task</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-success btn-lg"  role="button" >Login</a>
      {% endif %}
      </div>
    </nav>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for task in tasks %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <a href="#" class="btn btn-primary">{{task.status}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}